<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        css display : inline block inline-block

    -->
    <!-- div를 좌, 우로배치
        display : inline-block
        실질적으론 잘 안씀, 단점이 많아서

        레이아웃 잡을 때는 float, position을 많이씀
        float : left
        position - relative,absolute
        내가 원하는 임의의 위치로 이동
        display : flex
    -->
    
    <div></div>
</body>
</html>